* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-primary: #0F110C;
    --color-secondary: #084887;
    --color-tertiaray: #F7F5FB;
    --color-bg: #98e193;
    --color-extra: #FFCB47;
}

body {
    color: var(--color-primary);
    background-color: var(--color-bg);
}

#headerMain {
    background-color: var(--color-primary);
    padding: 12px 0;
}

#myCarousel {
    background-color: var(--color-tertiaray);
}

.carousel-item {
    height: 300px;
}

.carousel-caption {
    height: 100%;
    top: 0;
    line-height: 40px;
    padding: 40px 0;
}

.carousel-caption h1 {
    font-size: 2.8rem
}

.carousel-caption p:nth-of-type(1) {
    font-size: 1.2rem;
    opacity: 0.85;
}

.btn-primary {
    color: var(--color-primary);
    background-color: var(--color-extra);
    padding: 2px 12px;
    border: 0;
}

.section {
    scroll-margin-top: 64px;
}

.border-bottom {
    border-bottom: 1px solid #0F110C !important;
}

/* gameContainer */
#gameContainer {
    flex-direction: column;
    gap: 60px;
}

.title {
    position: relative;
    margin-top: 20px;
}

.title h1{
    font-size: 3rem;
    font-weight: 600;
}

#morraScore {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 2rem;
    font-weight: 600;
}

#playerTable {
    gap: 15px;
}

/* Cards */
.card {
    width: 120px;
    height: 180px;
    background-image: url(./../img/questionMark.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid var(--color-primary);
    border-radius: 16px;
    cursor: pointer;
}

.paper {
    background-image: url(./../img/paper.png);
}

.scissors {
    background-image: url(./../img/scissors.png);
}

.rock {
    background-image: url(./../img/rock.png);
}

.questionMark {
    background-image: url(./../img/questionMark.png);
}

#response {
    width: 400px;
    height: 100px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
}

#memoryBody {
    background-color: #50afac;
}

#table {
    width: 80%;
    max-width: 540px;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    top: 0;
    left: 0;
}

#digitaBody {
    background-color: rgb(212, 99, 99);
}

#digitaTable {
    width: 50%;
    max-width: 400px;
    flex-direction: column;
    gap: 15px;
    margin-top: 120px;
}

#wordSpan {
    font-size: 1.2rem;
}

#wordInput {
    border-radius: 15px;
    padding: 0 10px;
}

#wordButton {
    background-color: var(--color-extra);
    padding: 4px 15px;
    border-radius: 15px;
    cursor: not-allowed !important;
}

#digitaController {
    width: 100%;
    justify-content: space-between;
}

#message {
    color: red;
    background-color: var(--color-tertiaray);
    padding: 4px 10px;
    border-radius: 10px;
}

#againButton {
    background-color: var(--color-extra);
    border-radius: 15px;
    padding: 4px 15px;
}

.hidden {
    display: hidden !important;
} /* ! non funziona */

.disabled {
    cursor: not-allowed !important;
} /* ! non funziona */

@media screen and (max-width: 991px) {
    header {
        padding-top: 0;
    }

    .carousel-caption h1 {
        font-size: 2.2rem
    }

    .carousel-caption p:nth-of-type(2){
        margin-top: 40px;
        text-align: center;
    }

    .section {
        scroll-margin-top: 138px;
    }

}